################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Awesome Maze Warrior/Temp
/Awesome Maze Warrior/Assets/Prefabs/Premade Level Prefabs/Coins Prefabs/Coins Level 12.prefab.meta
/Awesome Maze Warrior/Assets/Prefabs/Premade Level Prefabs/Coins Prefabs/Coins Level 12.prefab
/Awesome Maze Warrior/Assets/Prefabs/Premade Level Prefabs/Coins Prefabs/Coins Level 11.prefab.meta
/Awesome Maze Warrior/Assets/Prefabs/Premade Level Prefabs/Coins Prefabs/Coins Level 11.prefab
